* {
  margin: 0;
}


div {
  border: 1px solid;
  background-color: darkgray;
}


.navBar {
  height: 150px;
  width: 100%;
  background-color: lightblue;
  position: fixed;
  opacity: 0.5;
}

.left-menu, .right-pane, .main-content {
  height: 1000px;
}

.left-menu {
  float: left;
  width: 150px;
  background-color: rgb(29,168,223);
}


.right-pane {
  background-color: pink;
  float: right;
  width: 150px;
}


.main-content{
  margin-top: 150px;
  background-color: lightgreen;
  background-image: url("fish.jpg");
  background-repeat: no-repeat;
  background-size: 50%;

}